*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 1px solid red;
}

body{
    height: 100vh;
    padding: 20px 50px;
}

.card-container{
    height: calc(100vh - 15vh);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    border: 10px black solid;
    background-color: black;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}

.card-background{
    background-image: url(images/card-back-side.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

